.topContainer {
  width: 100vw;
  a {
    width: 100%;
    height: 423px;
    padding: 0px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .checkButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5px;
  }
}
@media screen and (max-width: 768px) {
  .topContainer {
    a {
      height: 1077px;
    }
    img {
      content: url(https://cdn.mcdonalds.pl/uploads/20231107170648/burger-drwala-mobile.jpg);
    }
  }
}

@media screen and (max-width: 1200px) {
  .checkButton {
    display: none;
  }
}
