@import "./../../../../Scss/Abstract/Colors";

.productColumn {
  object-fit: cover;
  flex: none;
  cursor: pointer;

  &:hover {
    background-color: $deliveryBackground;
  }

  .bagIcon {
    top: 15px;
    right: 25px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .productColumn {
    width: 50% !important;
  }
}
